<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tytuły</title>
</head>
<body>
<p>Tytuły:</p>
    <% if (messages.length) { %>
        <ul>
            <% for(var i = 0; i < messages.length; i++) { %>
            <li>Tytuł: <%= messages[i] %> Autor:
                <% if(author[i]) { %>
                    <%= author[i] %>
                    <% } else { %>
                    -
                    %< } %></li>
                 <% } %>
            <% } %>
        </ul>
    <% } else { %>
        <span>&lt;brak pozycji&gt;</span>
    <% } %>
    <form action="/msg" method="post">

        <label for="frontmessage">Nowy tytuł: </label>
        <input id="frontmessage" type="text" name="frontmessage">
        <label for="author">Autor: </label>
        <input id="author" type="text" name="author">
        <input type="submit" value="DODAJ">
    </form>
    <form method="POST" action="/delete">
        <label for="removedAuthor">usuń:</label>
        <select name="removedAuthor" id="removedAuthor">
            <% messages.forEach(function(message) { %>
                <option value="<%= message %>"><%= message %></option>
            <% }); %>
        </select>
        <input type="submit" value="Usuń">
    </form>
</body>
</html>